if [ "$CONDA_PREFIX" != "/opt/homebrew/Caskroom/miniconda/base/envs/iml" ] && [ "$TERM_PROGRAM" != "vscode" ]; then 
    use nix
    source /opt/homebrew/Caskroom/miniconda/base/bin/activate iml; 
fi
